* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  place-items: center;
  background: black;
}

.calculator {
  width: 320px;
  padding: 20px;
  background: black;
  border-radius: 20px;
}

.display {
  height: 90px;
  color: white;
  font-size: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 10px;
}

.keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

.btn {
  border: none;
  border-radius: 50%;
  height: 65px;
  font-size: 24px;
  cursor: pointer;
}

.btn:active {
  filter: brightness(120%);
}

.number {
  background: #333;
  color: white;
}

.function {
  background: #a5a5a5;
  color: black;
}

.operator {
  background: #ff9500;
  color: white;
}

.zero {
  grid-column: span 2;
  border-radius: 40px;
  text-align: left;
  padding-left: 25px;
}